<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410622785558-j6g0stq510q5f6elpislt98fidos80lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410622785558-j6g0stq510q5f6elpislt98fidos80lf</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvrn87ESC55fS7_VnoIN38kuOeY12Kp4</string>
	<key>GCM_SENDER_ID</key>
	<string>410622785558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppAcademy-PremierSoft.News-App</string>
	<key>PROJECT_ID</key>
	<string>newsapp-42e53</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-42e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410622785558:ios:fdbbb5627469bf9b905d37</string>
</dict>
</plist>